<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/validator-signup.js"></script>
    <title>Sign up</title>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 nopadding">
            <div class="mainbody">
                <div class="row text-center">

                    <form action="/" onsubmit="return validateForm();" method="post">
                        <div id="form_right">

                            <h1>Sign Up</h1>
                            <h2>Welcome to Task Master, please fill the form to register</h2>
                            <div class="input_container">
                                <i class="fas fa-envelope"></i>
                                <input placeholder="Full Name" type="text" name="fullname" id="fname" class="input_field" required>
                                <!-- <div class="validation">*</div> -->
                            </div>
                            <div class="input_container">
                                <i class="fas fa-envelope"></i>
                                <input placeholder="Email" type="email" name="email" id="field_email" class="input_field" required>
                            </div>

                            <div class="input_container">
                                <i class="fas fa-envelope"></i>
                                <input placeholder="Username" type="text" name="username" id="username" class="input_field" required>
                            </div>

                            <div class="input_container">
                                <i class="fas fa-envelope"></i>
                                <input placeholder="Phone Number" type="text" name="phone" id="phone" class="input_field" required>
                            </div>


                            <div class="input_container">
                                <i class="fas fa-lock"></i>
                                <input placeholder="Password" type="password" name="password" id="password" class="input_field" required>
                                <i class="bi bi-eye-slash" id="togglePassword"></i>
                            </div>

                           
                            <div>
                                <div><label>Select your role</label></div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="role" value="user" required>
                                    <label class="form-check-label" for="user">User</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="" type="radio" name="role" value="admin" required>
                                    <label class="form-check-label" for="admin">Admin</label>
                                </div>
                            </div>

                                
                                
                            <input type="submit" value="Sign up" id="input_submit" class="input_field">
                            <span>Forgot <a href="#"> Username / Password ?</a></span>
                            <span id="forgotPassword">   </span>
                            <span> <a href="./login"> Sign in</a></span>


             
                        </div>
                    </form>

                </div>

            </div>

        </div>

        <div class="col-lg-6 nopadding">
            <div class="pagebody">
                <img src="images/icon.png" class="right-image text-center" alt="logo" >
                <div>

                </div>
            </div>
        </div>

    </div>
</div>


</body>

</html>
